ul.bday_block {
  margin-top: 1px;
}
a.bday_blk_viewall {
  font-style: italic;
}
.bday_pi_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.bday_index_header_left{
  float: left;
  margin-bottom: 10px;
}
